{% extends "::base.html.twig" %}

{% block header_title %}
  <h2>{{ 'kzt.map.header.title'|trans|capitalize }}</h2>
{% endblock %}

{% block main %}
  <div class="row">
    <div class="col-md-12">
      <div id="map" data-role="kzt-map"></div>
    </div>
  </div>
{% endblock %}

{% block javascripts %}
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ maps_api_key }}"></script>
  <script type="text/javascript" src="{{ asset('assets/js/mapbundle.map.js') }}"></script>
{% endblock %}
